 
body { 
  padding-top: 70px; 
} 

.jumbotron {
  text-align: center;
  background: transparent;
}

.navbar-inverse {
  background: lightblue;
}

.navbar-inverse .navbar-brand, .navbar-inverse a{
  color:black;
}
.navbar-inverse .navbar-nav>li>a {
  color:black;
  font-weight: bold;
  text-align: center;
  padding: 0 15px;
} 

.container-fluid {
  padding:0 45px;
}

.notify {
  width: 80%;
  color: red;
  border: 1px black solid;
  border-radius: 10px;
}

.btn {
  margin: 0 5%;
  padding: 2%;
  border: 3px solid black;
  width: 15%;

  text-align: center;       
}

.btngroup {
  margin: 7% 0;
  display: flex;
  justify-content: center;

}

.col-lg-3 {
  margin: 0 auto;
  background-color: darkseagreen;
  height: 200px;
}

.leftdiv {
  float: left;
  width: 300px;
}

#map {
  height: 400px;
  width: 400px;
  border: 1px solid red;
  float: right;
}

.mytextbox {
  width: 70%;
  font-size: 2em;
}

.submitBtn {
  font-size: 2em;
}

.instructions {
  text-align: center;
  margin-bottom: 5%;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

#dropdownMenu1 {
  margin: 60 60 0 60;
}

.row {
  border: 1px solid black;
  border-radius: 7px;
  margin: 3px;
}